.parameters {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}